<h1>Bienvenue sur the Hacking Gossip !</h1>

<p>Voici la liste des différents gossips...</p>
<%= link_to"Créer un nouveau gossip", post_path %>

  <% @gossips.each_with_index do |j, i| %>
<p>
    <a href="/show/<%= (i+1)%>"><%= j.gossip_author %></a><br/>
    <%= j.gossip_content %>
</p>
  <% end %>




